/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1080px;
}

.el-breadcrumb {
    margin-bottom: 10px;
}

.el-table {
    margin-top: 20px;
    font-size: 12px !important;
    text-align: center !important;
}

.el-pagination {
    margin-top: 20px;
    text-align: center;
}

.el-step__title {
    font-size: 14px !important;
}

/* 富文本编辑框 */
.ql-editor {
    height: 400px !important;
}